<template>
    <header class="main">
        <h1>{{ title }}</h1>
        <nav>
            <router-link :to="`/edit/${prev.id}`" v-if="prev" class="header-nav__prev">&larr; {{prev.name}}</router-link>
            <router-link :to="`/edit/${next.id}`" v-if="next" class="header-nav__next">{{next.name}} &rarr;</router-link>
        </nav>
    </header>
</template>
<script>
    export default {
        name: 'app-header',
        props: {
            title: String,
            prev: Object,
            next: Object,
        },
    }
</script>

<style lang="scss" scoped>
    header {
        padding: 18px 25px;
        height: 64px;
        position: relative;
    }

    h1 {
        text-align: left;
        font-size: 32px;
        line-height: 1;
        margin: 0;
        text-align: center;
        flex: 1 1 auto;
    }

    nav {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 25px 25px 15px;

        a {
            text-decoration: none;
            color: gray;
            font-weight: 500;
            font-size: 13px;
        }
    }

    .header-nav__next {
        margin-left: auto;
    }
</style>