<template>
    <div class="editor">
        <app-header :title="item && item.name" :prev="prev" :next="next"></app-header>
        <view-pane :animation-settings="options"></view-pane>
        <edit-pane></edit-pane>
    </div>
</template>

<script>
    import api from '../APIservice';
    import AppHeader from './AppHeader.vue';
    import ViewPane from './ViewPane.vue';
    import EditPane from './EditPane.vue';

    export default {
        name: 'editor',
        data() {
            return {
                item: undefined,
                prev: undefined,
                next: undefined,
                options: {}
            }
        },
        created() {
            this.update(this.$route.params.id);
            this.$root.$on('animationOptions', (optsObj) => {
                this.options = optsObj;
            })
        },
        watch: {
            '$route' (to) {
               this.update(to.params.id)
            }
        },
        methods: {
          update(id) {
              api.getItem(id)
                  .then(item => this.item = item);
              api.getItem(parseInt(id) + 1)
                  .then(item => this.next = item);
              api.getItem(parseInt(id) - 1)
                  .then(item => this.prev = item);
          }
        },
        components: {
            AppHeader,
            ViewPane,
            EditPane
        }
    }
</script>
<style>
    .editor {
        padding-right: 320px;
    }
</style>