<template>
    <div class="edit-pane__palettes">
        <h3 class="edit-pane__title">{{ title }}</h3>
        <label class="label" for="duration">Duration ({{optionsModel.duration}}ms)</label>
        <input class="slider" type="range" name="duration" min="0" max="10000" step="100" v-model="optionsModel.duration" />
        <label class="label" for="random">Randomise ({{optionsModel.randomise}})</label>
        <input class="slider" type="range" name="random" min="0" max="100" v-model="optionsModel.randomise" />
    </div>
</template>

<script>
    export default {
        name: 'palette-editor',
        data() {
            return {
                title: 'Animation',
                svg: undefined,
                optionsModel: {}
            }
        },
        updated() {
            this.$root.$emit('animationOptions', this.optionsModel);
        }
    };
</script>

<style scoped lang="scss">
    button {
        appearance: none;
        background: transparent;
        border: none;
        font-family: inherit;
        font-size: inherit;

        span {
            pointer-events: none;
        }
    }

    .label {
        color: rgba(white, 0.8);
        font-size: 13px;
    }

    .edit-pane__title {
        color: white;
        font-size: 16px;
        margin: 25px 0;
    }

    .palette {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        color: rgba(white, 0.8);
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
            color: rgba(white, 0.95);
        }

        &:focus {
            outline: none;

        }
    }

    .palette__bg {
        width: 40px;
        height: 40px;
        background-size: contain;
        margin-right: 15px;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
        border-radius: 2px;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        border-radius: 2px;
        background: #1C2529;

    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -11px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: rgba(0,0,0,0.9);
        border-radius: 2px;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: rgba(0,0,0,0.5);
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }
    input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
    }


</style>