<template>
    <div class="edit-pane">

        <palette-editor></palette-editor>
        <animation-editor></animation-editor>

    </div>

</template>
<script>
    import PaletteEditor from './EditPalette.vue';
    import AnimationEditor from './EditAnimation.vue';
    export default {
        name: 'edit-pane',
        components: {
            PaletteEditor,
            AnimationEditor
        }
    }
</script>

<style lang="scss" scoped>

    .edit-pane {
        position: fixed;
        top: -25vh;
        bottom: -25vh;
        right: 0;
        height: 150vh;
        width: 320px;
        background: #263238;
        padding: calc(25vh + 25px) 25px;
    }

</style>