<template>
    <div class="edit-pane__palettes">
        <h3 class="edit-pane__title">{{ title }}</h3>
        <button class="palette" v-for="palette of palettes" :key="palette.id" @click="togglePalette(palette.id, $event)">
            <span class="palette__bg" :style="{'background-image' : `url(${palette.bg})`}"></span>
            <span class="palette__title">{{ palette.name }}</span>
        </button>
    </div>
</template>

<script>
    import { shuffle } from 'lodash';

    const palettes = [
        {
            id: 1,
            name: 'warm indigo',
            colors: ['#822c41', '#ca003d', '#ff5f00', '#ff7175', '#b6008d', '#a1b1c8', '#ac441e', '#e2231a'],
            bg: 'svg/palette-warm-2.svg'
        },
        {
            id: 2,
            name: 'warm sunset',
            colors: ['#E04826', '#AC4625', '#FECD05', '#F49055', '#E32727', '#A1B2C9', '#ac441e', '#E04403'],
            bg: 'svg/palette-warm-1.svg'
        },
        {
            id: 3,
            name: 'cool forest',
            colors: ['#405086', '#1594CE', '#065AA2', '#007D9B', '#0C6E62', '#A1B2C9', '#097B9A', '#A1B1C8'],
            bg: 'svg/palette-cool-1.svg'
        },
        {
            id: 4,
            name: 'cool indigo',
            colors: ['#6D3076', '#B31E8B', '#5C2C88', '#24347A', '#0064A7', '#3D5689', '#A1B2C9', '#5C0F8B'],
            bg: 'svg/palette-cool-2.svg'
        },
    ];

    function setCSSVar(varName, newVal) {
        document.documentElement.style.setProperty(varName, newVal)
    }

    export default {
        name: 'palette-editor',
        data() {
            return {
                title: 'Choose Palette',
                palettes: palettes,
                currentPalette: undefined,
                activePalette: undefined,
            }
        },
        methods: {
            togglePalette(ref, e) {
                if (!this.activePalette || this.activePalette[0].id !== ref) {
                    this.activePalette = palettes.filter(palette => palette.id === ref);
                    const colors = this.activePalette[0].colors || [];
                    this.updatePaletteColors(colors);
                } else {
                    this.shufflePaletteColors(this.activePalette[0].colors);
                }
            },
            updatePaletteColors(colorsArr) {
                colorsArr.forEach((color, i) => {
                    setCSSVar(`--palette-${i + 1}`, color);
                })
            },
            shufflePaletteColors(colorsArr) {
                const shuffled = shuffle(colorsArr);
                this.updatePaletteColors(shuffled);
            }
        },
    };
</script>

<style scoped lang="scss">
    button {
        appearance: none;
        background: transparent;
        border: none;
        font-family: inherit;
        font-size: inherit;

        span {
            pointer-events: none;
        }
    }

    .edit-pane__title {
        color: white;
        font-size: 16px;
        margin: 0 0 25px;
    }

    .palette {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        color: rgba(white, 0.8);
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
            color: rgba(white, 0.95);
        }

        &:focus {
            outline: none;

        }
    }

    .palette__bg {
        width: 40px;
        height: 40px;
        background-size: contain;
        margin-right: 15px;
    }


</style>