<template>
    <div class="graphics">
        <router-link tag="figure"
                     :to="`/edit/${item.id}`"
                     class="graphic"
                     :key="item.id"
                     v-for="item of items">
            <div class="graphic__item" v-html="item.svgContent"></div>
            <figcaption class="graphic__item">{{ item.name }}</figcaption>
        </router-link>
    </div>
</template>
<script>
    import api from '../APIservice.js';

    export default {
        name: 'graphic-nav',
        data() {
            return {
                items: [],
            }
        },
        created() {
            api.getAll()
                .then(data => {
                    data.forEach(item => {
                        api.getSVG(item.id).then(svg => item.svgContent = svg);
                    });
                    return data;
                })
                .then(items => this.items = items);
        }
    }
</script>
<style scoped lang="scss">
    .graphics {
        margin: 20px 60px 100px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, 150px);
    }

    .graphic {
        margin: 0;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        background: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 2px 2px rgba(0,0,0,0.025);
        transition: transform 0.1s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.025);
        }
    }

    .graphic__text {
        font-size: 14px;
    }
</style>