<template>
    <div class="home">
        <app-header text="Choose a graphic to start"></app-header>
        <graphic-list></graphic-list>
    </div>
</template>
<script>
    import AppHeader from './AppHeader.vue';
    import GraphicList from './GraphicList.vue';

    export default {
        name: 'home',
        components: {
            AppHeader,
            GraphicList
        }
    }
</script>