<template>
    <div class="view" v-html="svg"></div>
</template>
<script>
    import api from '../APIservice.js';
    import anime from 'animejs';

    export default {
        name: 'view-pane',
        data() {
            return {
                svg: undefined,
                svgNodes: []
            }
        },
        props: {
          animationSettings: {
              type: Object,
              default: () => ({})
          },
        },
        created() {
            this.update(this.$route.params.id);
        },
        updated() {
            const svgNodes = Array.from(this.$el.querySelectorAll('svg > *'));
            this.animate(svgNodes, this.animationSettings);
        },
        watch: {
            '$route' (to) {
                this.update(to.params.id);
            }
        },
        methods: {
            update(id) {
                api.getSVG(id)
                    .then(svg => this.svg = svg)
            },
            animate(nodes, options) {
                nodes.forEach((el, i) => {
                    anime({
                        targets: el,
                        translateX: {
                            value: 10 + (i * options.randomise || 1),
                            duration: 5000 + i
                        },
                        translateY: {
                            value: 10 + i,
                            duration: 5000 + i
                        },
                        delay: 10 * i,
                        easing: options.easing || 'easeInCubic',
                        direction: options.direction || 'alternate',
                        loop: options.loop || true,
                    })
                })
            }
        }
    }

</script>
<style lang="scss">
    .view {
        background: white;
        height: calc(100vh - 64px);
        border-top-right-radius: 3px;
    }

    svg {
        isolation: isolate;
        max-height: 100%;

        * {
            mix-blend-mode: multiply;
            transition: fill 0.2s ease-out;
        }
    }
</style>
