<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import AppHeader from './components/AppHeader.vue'
import GraphicList from './components/GraphicList.vue'

export default {
  name: 'app',
  components: {
      AppHeader,
      GraphicList,
  }
}
</script>

<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: #f6f6f6;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

  :root {
    --palette-1: #525252;
    --palette-2: #6E6E6E;
    --palette-3: #A2A2A2;
    --palette-4: #464646;
    --palette-5: #9C9C9C;
    --palette-6: #B7B7B7;
    --palette-7: #A2A2A2;
    --palette-8: #6E6E6E;
  }

  .palette-1 {
    fill: var(--palette-1);
  }
  .palette-2 {
    fill: var(--palette-2);
  }
  .palette-3 {
    fill: var(--palette-3);
  }
  .palette-4 {
    fill: var(--palette-4);
  }
  .palette-5 {
    fill: var(--palette-5);
  }
  .palette-6 {
    fill: var(--palette-6);
  }
  .palette-7 {
    fill: var(--palette-7);
  }
  .palette-8 {
    fill: var(--palette-8);
  }
</style>
